@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  .navigation ul {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .navigation li {
    display: block;
  }

  .hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    align-items: center;
  }

  .hero-content {
    margin-top: 0;
  }

  .home-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .discover-layout {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  #member-container.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

  .join-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .membership-cards {
    align-content: start;
  }

  .spotlight-container {
    grid-template-columns: repeat(3, 1fr);
  }
}