@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  .navigation {
    align-self: center;
  }

  .navigation ul {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .navigation li {
    display: block;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .course-container {
    grid-template-columns: repeat(3, 1fr);
  }
}